.Page {
  display: flex;
  flex-direction: column;

  padding: 0px;
  // gap: 100px;

  justify-content: center;
  align-items: center;

  height: fit-content;
  width: 100%;

  .PageHead {
    display: flex;
    position: relative;

    height: 500px;
    width: 100%;

    justify-content: center;
    align-items: center;

    .Diffuser {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;

      background-color: rgba(0, 0, 0, 0.4);
    }

    .Head_Image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .Section {
    //   background: rgb(23, 26, 32);
    //   background: linear-gradient(
    //     90deg,
    //     rgba(23, 26, 32, 1) 0%,
    //     rgba(36, 54, 55, 0.773546918767507) 82%,
    //     rgba(36, 54, 55, 1) 100%
    //   );

    display: flex;
    flex-direction: column;

    position: relative;

    justify-content: center;
    align-items: center;

    padding: 5px;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;

    height: fit-content;
    width: 100%;

    .Content_Container {
      display: flex;

      gap: 50px;

      justify-content: space-evenly;
      align-items: center;

      height: fit-content;
      width: 100%;

      .Image_Container {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        height: 100%;
        width: 50%;

        overflow: hidden;

        transition: 0.3s;

        .Image {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .About_Container {
      display: flex;
      flex-direction: column;

      padding: 0px;
      gap: 10px;

      justify-content: center;

      margin: auto;

      height: fit-content;
      width: 45%;
      
      .Question {
        font-size: 18px;
        font-weight: 100;
        font-style: bold;
        transition: 0.3s;
      }

      .Brand {
        font-size: 50px;
        font-weight: 100;
        font-style: bold;
        transition: 0.3s;
      }

      .Description {
        font-size: 20px;
        font-weight: 100;
        font-style: bold;
        transition: 0.3s;
      }

      .Read_More_Button {
        border: 2px solid black;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 5px 20px;

        display: flex;
        cursor: pointer;

        justify-content: center;
        align-items: center;

        height: fit-content;
        width: fit-content;

        transition: 0.3s;
      }
    }
  }

  .Form_Container {
    display: flex;
    flex-direction: column;

    padding: 5px;
    gap: 30px;

    justify-content: center;
    align-items: center;

    height: fit-content;
    width: 800px;

    transition: 0.5s;

    .Form {
      display: flex;
      flex-direction: column;

      gap: 10px;

      justify-content: space-evenly;
      align-items: center;

      height: 100%;
      width: 100%;

      .Name__Eamil {
        border: none;
        display: flex;

        gap: 20px;

        justify-content: space-between;
        align-items: center;

        height: fit-content;
        width: 100%;

        .Input {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          padding: 5px;
          background-color: rgba(0, 0, 0, 0.8);
          outline: none;
          border: none;
          width: 50%;

          color: white;
          font-size: 18px;
          font-weight: 300;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
        }
      }

      .Input {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.8);
        outline: none;
        border: none;
        width: 100%;

        color: white;
        font-size: 18px;
        font-weight: 300;

        // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
      }
      ::-webkit-input-placeholder {
        color: white;
        font-size: 18px;
        font-weight: 300;

        // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
      }

      .Submit_Button {
        border: 2px solid black;
        display: flex;

        justify-content: center;
        align-items: center;

        padding: 5px 20px;
        margin-left: 0px;

        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        font-size: 16px;
      }
    }
  }
}

// Media Queries Start
@media only screen and (max-width: 1555px) {
  .Page {
    .Section {
      .Content_Container {
        .About_Container {
          .Brand {
            font-size: 40px;
          }
          br {
            display: none;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1030px) {
  .Page {
    .Section {
      .Content_Container {
        .Images_Container {
          .Image_Container_1,
          .Image_Container_2 {
            height: 600px;
            width: 300px;
          }
        }

        .About_Container {
          .Brand {
            font-size: 40px;
          }
          .Description {
            font-size: 18px;
          }

          br {
            display: none;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 996px) {
  .Page {
    .Section {
      height: fit-content;
      .Content_Container {
        flex-direction: column-reverse;
        width: 100%;
        .About_Container {
          width: 100%;
          align-items: center;
          .Brand {
            font-size: 30px;
            text-align: center;
          }
          .Description {
            font-size: 15px;
            text-align: center;
          }

          br {
            display: none;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 810px) {
  .Page {
    .Form_Container {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .Page {
    .Form_Container {
      .Form {
        .Name__Eamil {
          flex-direction: column;
          .Input {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .Page {
    .Section {
      .Content_Container {
        .About_Container {
          .Question {
            font-size: 12px;
          }
          .Brand {
            font-size: 25px;
          }
        }
      }
    }
  }
}

// Media Queries End
