.Navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  position: fixed;
  top: 0px;
  left: 0px;

  padding: 5px;

  justify-content: space-between;
  align-items: center;

  height: fit-content;
  width: 100%;

  transition: 0.3s;
  z-index: 50;

  .Image_Container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    .Logo {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .Navlink_Container {
    display: none;
    gap: 20px;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;

    .Navlink {
      color: white;
      font-size: 15px;
      font-weight: 300;
      cursor: pointer;
    }
  }

  .Span {
    display: flex;
    cursor: pointer;
    z-index: 200;
    .HamburgerMenu {
      color: white;
    }
  }

  //   Mobile Menu Start
  .Mobile_Menu {
    display: flex;
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    // overflow: scroll;
    z-index: 11;
    transition: 0.5s;
    transform: translateY(100vh);

    .Mobile_Menu_Header {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      display: none;

      position: relative;

      justify-content: center;
      align-items: center;

      height: 200px;
      width: 100%;

      overflow: hidden;

      .CloseIcon {
        position: absolute;
        top: 0;
        right: 0;

        z-index: 1;
      }

      .Diffuser {
        background-color: rgba(0, 0, 0, 0.2);

        top: 0;
        left: 0;

        position: absolute;
        height: 100%;
        width: 100%;
      }

      .Header_Image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    // .Navlink_Container {
    //   display: flex;
    //   flex-direction: column;

    //   border: 1px solid black;

    //   justify-content: space-evenly;
    //   align-items: flex-start;

    //   padding: 5px;
    //   gap: 20px;

    //   height: 100%;
    //   width: 100%;
    // }
    .ListGroup {
      border-radius: 0;

      gap: 1px;

      justify-content: space-between;

      height: 60%;
      width: 60%;

      .ListGroupItem {
        background-color: rgba(0, 0, 0, 0.0);

        color: white;
        font-size: 30px;
        font-weight: 500;

        border: none;
        // border: 1px solid rgba(255, 255, 255, .1);

        display: flex;
        align-items: center;
        justify-content: flex-start;

        gap: 10px;
      }
    }

    .Contact_Information_Box {
      border-radius: 0;

      display: flex;
      flex-direction: column;

      gap: 20px;
      padding: 5px;

      justify-content: center;
      align-items: flex-start;

      height: 60%;
      width: 40%;

      .Contact_item {
        display: flex;
        flex-direction: column;

        align-items: flex-start;

        height: fit-content;
        width: fit-content;

        .Title {
          color: rgb(120,48,50);
          font-size: 20px;
          font-style: bold;
          text-align: left;

          margin: auto;
          margin-bottom: 10px;
          width: 100%;
        }

        .Text {
          color: lightgray;
          margin: auto;
          font-size: 14px;
        }
      }
    }
  }
  //   Mobile Menu End

  .Reveal {
    transform: translateY(0%);
  }
}
// Navbar End

::-webkit-scrollbar {
  width: 1px;
}

// Media Queries Start
@media only screen and (max-width: 996px) {
  .Navbar {
    .Navlink_Container {
      display: none;
    }
    .MenuIcon {
      display: flex;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Navbar {
    .Mobile_Menu {
      .ListGroup {
        width: 100%;
      }
      .Contact_Information_Box {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .Navbar {
    padding: 10px;
    .Mobile_Menu {
      .ListGroup {
        height: 90%;

        .ListGroupItem {
          font-size: 25px;
        }
      }
    }
  }
}
// Media Queries End
