.Navbar {
  display: flex;

  position: fixed;
  top: 0px;
  left: 0px;

  padding: 5px;
  justify-content: right;
  align-items: center;

  height: fit-content;
  width: 100%;

  transition: 0.3s;
  z-index: 10;

  .Brand_Container {
    // border: 2px solid black;
    // background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 20px;

    display: flex;

    justify-content: center;
    align-items: center;

    height: fit-content;
    width: fit-content;

    transition: 0.3s;

    .Brand {
      font-size: 20px;
      font-weight: 300;
      transition: 0.3s;
    }
  }

  .MenuIcon {
    display: flex;
    cursor: pointer;
    z-index: 101;
    // color: white;
  }

  //   Mobile Menu Start
  .Mobile_Menu {
    display: flex;
    flex-direction: column;
    background-color: #1b1a22;

    position: absolute;
    top: 0;
    right: 0;

    height: 100vh;
    width: 300px;

    overflow: scroll;
    z-index: 100;
    transition: 0.5s;
    transform: translateX(100vw);

    .Header {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
      display: flex;

      padding: 5px;
      position: relative;

      justify-content: space-between;
      align-items: center;

      z-index: 150;

      .Menu_Left_Side {
        display: flex;

        padding: 5px;
        gap: 20px;
        justify-content: space-between;
        align-items: center;

        .Logo_Container {
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
            rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
            rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          border: 2px solid #2c7a7b;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          transition: 0.5s;

          .Logo {
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
              rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
              rgba(0, 0, 0, 0.09) 0px 16px 8px,
              rgba(0, 0, 0, 0.09) 0px 32px 16px;
            height: 100%;
            width: 100%;
            margin: auto;
            object-fit: cover;
            transition: 0.5s;
          }
        }

        .Brand {
          color: white;
          font-family: sans-serif;
          font-size: 20px;
          font-weight: 400;
          //   animation: flicker 1.5s infinite alternate;
        }
      }
    }

    .Navlink_Container {
      display: flex;
      flex-direction: column;

      justify-content: space-evenly;
      align-items: flex-start;


      padding: 5px;
      gap: 10px;

      height: 100%;
      width: 100%;

      .NavItem {
        display: flex;

        height: fit-content;
        width: 100%;

        .Navlink {
          display: flex;
          width: 100%;

          align-items: center;
          gap: 05px;

          font-size: 20px;
          font-weight: 300;
        }

        .Navlink:is(:active) {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    .Weblink_Container {
      display: none;
      flex-direction: column;

      padding: 5px;
      gap: 10px;

      justify-content: space-evenly;

      height: 100%;
      width: 100%;

      .Weblink {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #1c1d1f;
        border-radius: 5px;

        display: flex;

        padding: 10px 20px;
        gap: 30px;

        justify-content: space-around;
        align-items: center;

        height: fit-content;
        width: 100%;

        .Web_Title {
          color: white;
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }
  //   Mobile Menu End

  .Reveal {
    transform: translateY(0%);
  }
}
// Navbar End

::-webkit-scrollbar {
  width: 0px;
}

// Media Queries Start
@media only screen and (max-width: 480px) {
  .Navbar {
    .MenuIcon {
      z-index: 101;
    }
    .Mobile_Menu {
      width: 100%;
      z-index: 100;
    }
  }
}
// Media Queries End
